@{
	ViewData["Title"] = "Disciplines";
}

@*@model IEnumerable<FreeChoiceDiscipline.DAL.Entities.Discipline>*@

<h1>@ViewData["Title"]</h1>

@*@foreach(var item in Model)
	{
		<div class="card">
			<p>@item.Title</p>
		</div>
	}*@

