@{
	ViewData["Title"] = "Login Page";
}

<h1>@ViewData["Title"]</h1>

<div style="padding-top: 10%;">
	<div class="card m-auto p-3 w-50 text-center">
		<h3>Sign in</h3>
		<input class="m-1" type="email" name="email" value="" placeholder="email" />
		<input class="m-1" type="password" name="password" value="" placeholder="password" />
		<button class="btn-dark m-1" style="width: 20%">Sign in</button>
		<a href="/Home/Registration">Create an account</a>
	</div>
</div>